# Node
node/

# Dependencies
node_modules/

# Production
build/
dist/

# Ignore files (Prettier has trouble parsing files without extension)
.gitignore
.prettierignore
.eslintignore
.licenseheaderignore

# rc, json and html files
.prettierrc
.lintstagedrc.json
.licenseheaderrc.json

# macOS
.DS_Store
